@model IEnumerable<Projeto_CLOUD_45_2021.Models.Encomenda>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gestão de Encomendas</h1>


<table class="table table-borderless table-hover">    
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEncomenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>Ações</th>
        </tr>    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEncomenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.UtilizadorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoId)
            </td>
            <td>               
                <a asp-action="Details" asp-route-id="@item.EncomendaId">Details</a>                
            </td>
        </tr>
}
    </tbody>
</table>
