@model Projeto_CLOUD_45_2021.Models.Produto

@{
    ViewData["Title"] = "Detalhes do produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="container">
    <article class="row justify-content-center">
        <figure class="col-md-7 mt-5">
            <img class="img-fluid" src= @Html.DisplayFor(model => model.Foto) />
        </figure>
        <section class="col-md-5 mt-5">
            <article>
                <h1> @Html.DisplayFor(model => model.NomeComum)</h1>
                <p><b>Nome científico:</b> @Html.DisplayFor(model => model.NomeCientífico)</p>
                <p style="text-align: justify"><b>Descrição:</b> @Html.DisplayFor(model => model.Descricao)</p>
            </article>
            <article>
                <div>
                    <h4>
                        <strong>
                            €@Html.DisplayFor(model => model.Preco)
                            <span class="d-block"></span>
                        </strong><br />
                    </h4>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-action="CarrinhoCompra">
                            <input type="submit" value="Adicionar ao carrinho" asp-controller="Produtos" asp-action="AddCarrinho" asp-route-id="@Model.ProdutoId" class="btn btn-success btn-sm">
                        </form>
                    }
                    else
                    { <div class="container">
                          <a asp-controller="Utilizadores" asp-action="Login">Fazer login para adicionar este item ao carrinho.</a>
                        </div>
                    }

                </div>
            </article>
        </section>
    </article>
</div>

